#content {
    width: 60%;
    display: flex;
    flex-direction: row;
    @media (min-width: 750px) {
        flex-direction: row;
    }
    #sub-header {
        a {
            color: #000;
        }
    }
    #text {

    }

    #images {

    }
}