<ion-content>
  
  <app-header></app-header>
  <div id="content">
    <div id="sub-header">
      <a routerLink="../figurenbeschrieb" [ngClass] = "{'active': checkPage('figurenbeschrieb')}">ein Figurenbeschrieb</a> / <a routerLink="../filmprojekt" [ngClass] = "{'active': checkPage('filmprojekt')}">ein Filmprojekt</a>
    </div>
    <app-figurenbeschrieb *ngIf="checkPage('figurenbeschrieb')">asd</app-figurenbeschrieb>
    <app-film *ngIf="checkPage('filmprojekt')">dsa</app-film>
  </div>
</ion-content>
